
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 24px;
}

.social-links a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

/* Menubar Styles */
.menubar {
  background-color: #666;
  padding: 10px 0;
}

.menubar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menubar ul li {
  margin: 0 10px;
}

.menubar ul li a {
  color: #fff;
  text-decoration: none;
}


.sidebar {
  background-color: #eee;
  padding: 20px;
}


.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.content-box {
  flex: 0 0 calc(33.33% - 40px);
  background-color: #f9f9f9;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.content-box h2 {
  margin-bottom: 10px;
}

.content-box img {
  max-width: 100%;
  height: auto;
}

/* Footer Styles */
.footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
