body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  #app {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #00008b;
    color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:last-child td {
    background-color: #d1d1d1;
  }
  

